<div *ngFor="let period of timePeriods; let i = index" class="requirement-row" (mouseenter)="onMouseEnterPeriod(i)" (mouseleave)="onMouseLeave()">
    <div class="period">
        {{period.timePeriod.start | time}} - {{period.timePeriod.finish | time}} 
    </div>
    <div class="employee-count_container">
        Liczba pracowników: <span class="employee-count">{{period.employeeCount}}</span>
    </div>
    <div>
        <span class="delete-requirement-button unselectable" (click)="onDeletePeriodClicked(i)">USUŃ</span>
    </div>
</div>