.settings-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.settings {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.settings > *:not(:last-child) {
    margin-bottom: 20px;
}

.settings > div:not(:last-child)::after {
    content: '';
    position: relative;
    display: inline-block;
    top: 100%;
    left: 10%;
    width: 80%;
    height: 1px;
    background-color: #BBB;
}

.form-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin: 0 0;
}

.form-errors {
    margin-top: -8px;
    max-width: fit-content;
    color: red;
    font-size: 11px;
    font-weight: 600;
}

.submit-button {
    display: flex;
    justify-content: flex-end;
}

.spinner-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.spinner-container > * {
    position: absolute;
}

.delete-account-warning {
    text-align: justify;
}