.spinner {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.schedule_container {
    display: flex;
    justify-content: center;
}

.schedule_table {
    table-layout: fixed;
    width: 100%;
}

.schedule_table td,
.schedule_table th {
    padding: 0px;
    font-weight: normal;
}

.schedule_table th {
    text-align: center;
}

.data-row {
    border-radius: 8px;
    transition: 0.1s;
}

.data-row:hover {
    background-color: #ffffe4;
}

.schedule_table tr {
    height: fit-content;
}

.schedule_table td {    
    padding: 3px 3px 5px 3px;
    height: 100%;
}

.employee-label_first-name {
    font-size: 14px;
}

.employee-label_last-name {
    font-size: 16px;
}