<div *ngIf="!timePeriod" (click)="onClosedClicked()">
    ZAMKNIĘTE (kliknij by dodać godziny)
</div>
<div *ngIf="timePeriod">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="row">
                    Początek:
                </div>
                <div class="row">
                    <ngb-timepicker [ngModel]="timePeriod.start" (ngModelChange)="onStartChanged($event)" [minuteStep]="5"></ngb-timepicker>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    Koniec:
                </div>
                <div class="row">
                    <ngb-timepicker [ngModel]="timePeriod.finish" (ngModelChange)="onFinishChanged($event)" [minuteStep]="5"></ngb-timepicker>
                </div>
            </div>
            <div class="col-2" (click)="onRemovePeriodClicked()">
                Ustaw na zamknięte
            </div>
        </div>
    </div>
</div>