.menu {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: white;
    border-radius: 8px;
    margin: 8px;
}

.option {
    width: 25%;
    font-weight: 600;
}

button.option:hover {
    background-color: #DDD;
}

.option > button {
    width: 100%;
    font-weight: 600;
    transition: 0s;
}

.option:hover > button {
    background-color: #DDD;
    transition: 0s;
}

.option > .btn.active {
    background-color: #44b17d;
    color: white;
}

.option:hover > .btn.active {
    background-color: #399469;
    color: white;
    transition: 0.2s;
}