.menu {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: white;
    border-radius: 8px;
}

.option {
    width: 25%;
    font-weight: 600;
}

button.option:hover {
    background-color: #DDD;
}

.option > button {
    width: 100%;
    font-weight: 600;
}

.option:hover > button {
    background-color: #DDD;    
}