<div class="menu">
    <button class="btn" [class.active]="router.isActive('employer/schedule', false)" (click)="onScheduleClicked()">
        Grafik
    </button>
    <button class="btn" [class.active]="router.isActive('employer/employees', false)" (click)="onEmployeesClicked()">
        Pracownicy
    </button>
    <button class="btn" [class.active]="router.isActive('employer/staff', false)" (click)="onStaffClicked()">
        Obsada
    </button>
    <button class="btn" [class.active]="router.isActive('employer/statistics', false)" (click)="onStatisticsClicked()">
        Statystyki
    </button>
    <div class="justify-end">
        <logout></logout>
    </div>
</div>