.loading-modal {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.invitation-link-input {
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.invitation-link-input > *:not(:last-child) {
    margin-right: 8px;
}

.invitation-link-input input {
    width: 45em;
    font-size: 14px;
    text-align: center;
}

.invitation-link-input button {
    width: 8.5em;
}

.invitation-link-input button div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.invitation-link-input button div > *:not(:last-child){
    margin-right: 4px;
}

.modal-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-errors {
    margin-top: -8px;
    max-width: 200px;
    color: red;
    font-size: 11px;
    font-weight: 600;
}

.form-group {
    margin: 0 0;
}