.loading-modal {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.invitation-link-input {
    display: flex;
    justify-content: center;
}

.invitation-link-input input {
    width: 45em;
    text-align: center;
}

.modal-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-errors {
    margin-top: -8px;
    max-width: fit-content;
    color: red;
    font-size: 11px;
    font-weight: 600;
}

.form-group {
    margin: 0 0;
}