<div *ngIf="showForm && !isLoading">
    <div class="modal-header">
        <h4 class="modal-title">Dodaj pracownika</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()" tabindex="-1">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="employeeForm" (ngSubmit)="onSaveClicked()">
            <div class="form-group">
                <label>
                    Imię
                    <input class="form-control" type="text" formControlName="firstName" id="firstName" placeholder="Imię" maxlength="50" autocomplete="off">
                </label>
                <div class="form-errors" *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
                    <div *ngIf="firstName.errors.required">Imię pracownika jest wymagane.</div>
                    <div *ngIf="firstName.errors.minlength">Imię pracownika musi składać się z przynajmniej 2 znaków.</div>
                </div>
            </div>
            <div class="form-group">
                <label>
                    Nazwisko
                    <input class="form-control" type="text" formControlName="lastName" id="lastName" placeholder="Nazwisko" maxlength="50" autocomplete="off">
                </label>
                <div class="form-errors" *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
                    <div *ngIf="lastName.errors.required">Nazwisko pracownika jest wymagane.</div>
                    <div *ngIf="lastName.errors.minlength">Nazwisko pracownika musi składać się z przynajmniej 2 znaków.</div>
                </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Anuluj</button>
        <button type="submit" class="btn btn-success" (click)="onSaveClicked()">Zapisz</button>
    </div>
    </div>
<div *ngIf="isLoading" class="loading-modal">
    <div class="spinner-border" style="width: 6rem; height: 6rem;" role="status">
    </div>
</div>
<div *ngIf="showLink && !isLoading">
    <div class="modal-header">
        <h4 class="modal-title">Pracownik dodany</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div>
            Pracownik dodany pomyślnie. Wyślij pracownikowi poniższy link, aby uzupełnił on swoje dane do logowania:
        </div>
        <div class="invitation-link-input">
            <label>
                <input class="invitation-link-input" type="text" disabled [(ngModel)]="invitationLink">
            </label>
        </div>
    </div>
    <div class="modal-footer">
        <button type="btn btn-secondary" class="btn btn-secondary" (click)="onInvitatationLinkCloseClicked()">Zamknij</button>
    </div>
</div>

