<div *ngIf="workingHours">
    <div class="container">
        <div class="row"> 
            <div class="col-3">
                Poniedziałek
            </div>
            <div class="col">
                <working-hours-slider [(timePeriod)]="workingHours.monday"></working-hours-slider>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                Wtorek
            </div>
            <div class="col">
                <working-hours-slider [(timePeriod)]="workingHours.tuesday"></working-hours-slider>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                Środa
            </div>
            <div class="col">
                <working-hours-slider [(timePeriod)]="workingHours.wednesday"></working-hours-slider>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                Czwartek
            </div>
            <div class="col">
                <working-hours-slider [(timePeriod)]="workingHours.thursday"></working-hours-slider>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                Piątek
            </div>
            <div class="col">
                <working-hours-slider [(timePeriod)]="workingHours.friday"></working-hours-slider>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                Sobota
            </div>
            <div class="col">
                <working-hours-slider [(timePeriod)]="workingHours.saturday"></working-hours-slider>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                Niedziela
            </div>
            <div class="col">
                <working-hours-slider [(timePeriod)]="workingHours.sunday"></working-hours-slider>
            </div>
        </div>
    </div>
</div>