<div *ngIf="!shiftsLoaded; else calendar" class="spinner">
    <div class="spinner-border" style="width: 6rem; height: 6rem;" role="status">
    </div>
</div>
<ng-template #calendar>
    <div class="container-fluid calendar d-flex flex-column">
        <div class="row flex-fill day-of-week-row">
            <div class="col">Poniedziałek</div>
            <div class="col">Wtorek</div>
            <div class="col">Środa</div>
            <div class="col">Czwartek</div>
            <div class="col">Piątek</div>
            <div class="col">Sobota</div>
            <div class="col">Niedziela</div>
        </div>
        <div *ngFor="let week of calendarDays; let weekIndex = index" class="row flex-fill">
            <div *ngFor="let day of week; let dayIndex = index" 
            class="col day-card" [class.day-card--current-date]="day.getMonth() == today.getMonth() && day.getDate() == today.getDate() && day.getFullYear() == today.getFullYear()" >
                <div class="day-card_label" 
                [class.day-card_label--current-month]="day.getMonth() == month.month()">
                    {{day.getDate()}}
                </div>
                <div class="day-card_shifts">
                    <schedule-calendar-cell [shifts]="shifts[weekIndex][dayIndex]"> </schedule-calendar-cell>
                </div>
            </div>
        </div>
    </div>
</ng-template>