@import './../../../../../styles.scss';

.spinner {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.day-of-week-row {
    height: 30px;
    max-height: 30px;
}

.day-of-week-row > div {
    text-align: center;
    font-weight: bold;
}

.calendar {
    min-height: 500px;
}

.day-card {
    margin: 2px;
    padding-bottom: 8px;
    border-radius: 6px;
    box-shadow: 0px 0px 1.5px 0.5px rgba(0, 0, 0, 0.2);
    transition: 0.25s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.day-card--current-date > .day-card_label {
    background: #4ca78f;
    border-radius: 30px;
    width: 40px;
    color: white;
}

.day-card_label {
    @extend .unselectable;
    margin-top: 4px;
    text-align: center;
}

.day-card_label--current-month {
    font-weight: bold;
}

.day-card_shifts {
    flex-grow: 1;
    width: 100%;
}