<div class="btn-group btn-group-toggle" ngbRadioGroup [(ngModel)]="preferenceType" (ngModelChange)="preferenceTypeChange.emit($event)" name="preference-type-picker">
    <label ngbButtonLabel class="btn-outline-primary btn-sm">
        <input ngbButton type="radio" [value]="willing">Chętny
    </label>
    <label ngbButtonLabel class="btn-outline-primary btn-sm">
        <input ngbButton type="radio" [value]="available">Dostępny
    </label>
    <label ngbButtonLabel class="btn-outline-primary btn-sm">
        <input ngbButton type="radio" [value]="unwilling">Niechętny
    </label>
    <label ngbButtonLabel class="btn-outline-primary btn-sm">
        <input ngbButton type="radio" [value]="unavailable">Niedostępny
    </label>
</div>