<div class="popup_container" >
    <div class="cell_container" (click)="handleOnDetailsClicked()">
        <div *ngIf="shifts.length == 0; else shiftList" class="no-shifts unselectable">
            <div>
                WOLNE
            </div>
        </div>
        <ng-template #shiftList>
            <div class="shifts" [class.shifts--selected]="showPopup">
                <div *ngFor="let shift of shifts">
                    <time-period-cell [timePeriod]="shift.period"></time-period-cell>
                </div>
            </div>
        </ng-template>
    </div>
    <div *ngIf="showPopup" class="popup_component">
        <div (clickOutside)="handleOutsideClicked()">
            <schedule-position-edit-popup
            [(shifts)]="shifts"
            [position]="position"
            [employee]="employee"
            [date]="day"
            [requiredStaff]="requiredStaff"
        ></schedule-position-edit-popup>
        </div>
    </div>
</div>
