.popup_container {
    position: relative;
    height: 100%;
}

.cell_container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.popup_component {
    position: absolute;
    background-color: white;
    z-index: 1;
    width: 200px;
    margin-left: -100px;
    top: 100%;
    left: 50%;
}

.no-shifts {
    width: 100%;
    align-self: center;
    text-align: center;
}