<div class="popup_container" >
    <div class="cell_container" [class.cell_container--disabled]="disabled" (click)="handleOnDetailsClicked()" (onEscapePressed)="this.showPopup = false">
        <ng-container *ngIf="!disabled">
            <div *ngIf="shifts.length == 0; else shiftList" class="no-shifts unselectable">
                <div>
                    WOLNE
                </div>
            </div>
            <ng-template #shiftList>
                <div class="shifts" [class.shifts--selected]="showPopup">
                    <div *ngFor="let shift of shifts">
                        <time-period-cell [timePeriod]="shift.period"></time-period-cell>
                    </div>
                </div>
            </ng-template>
        </ng-container>
    </div>
    <div *ngIf="showPopup" class="popup_component">
        <div (clickOutside)="handleOutsideClicked()">
            <schedule-position-edit-popup
            [(shifts)]="shifts"
            (shiftsChange)="shiftsChange.emit($event)"
            (showPopup)="showPopup=$event"
            [position]="position"
            [employee]="employee"
            [date]="day"
            [requiredStaff]="requiredStaff"
            [shiftsTable]="shiftsTable"
            [dayIndex]="dayIndex"
            [instantUpdate]="instantUpdate"
        ></schedule-position-edit-popup>
        </div>
    </div>
</div>
