<div class="cell_container">
        <div *ngIf="shifts.length == 0; else shiftList" class="no-shifts unselectable">
            <div>
                WOLNE
            </div>
        </div>
        <ng-template #shiftList>
            <div class="shifts">
                <ng-container *ngFor="let shift of shifts">
                        <time-period-cell [timePeriod]="shift.period"></time-period-cell>
                        <div class="shift-tooltip">
                            {{lookupPositionName(shift)}}
                        </div>
                </ng-container>
            </div>
        </ng-template>
</div>