.spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.highlighted {
    background-color: #ffffe4;
}

th {
    position: sticky;
    top: -0.5px;
    background-color: white;
    text-align: center;
}

th::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0px;
    border-bottom: 2px solid #21ae91;
}

th.highlighted {
    background-color: #ffffe4;
}

tr>td:not(:first-child), tr>td:not(:first-child){
    width: 6%;
}

tr:hover{
    background-color: #ffffe4;
}

tr > td, tr > th {
    vertical-align: middle;
}