<div *ngIf="!statisticsLoaded; else statisticsTable" class="spinner">
    <div class="spinner-border" style="width: 6rem; height: 6rem;" role="status">
    </div>
</div>
<ng-template #statisticsTable>
    <div class="table-container">
        <table class="table">
            <tr>
                <th scope="col" [hoverGroup]="[0, 14]" [classOnHover]="'highlighted'">Stanowisko</th>
                <th scope="col" [hoverGroup]="[1, 14]" [classOnHover]="'highlighted'">I</th>
                <th scope="col" [hoverGroup]="[2, 14]" [classOnHover]="'highlighted'">II</th>
                <th scope="col" [hoverGroup]="[3, 14]" [classOnHover]="'highlighted'">III</th>
                <th scope="col" [hoverGroup]="[4, 14]" [classOnHover]="'highlighted'">IV</th>
                <th scope="col" [hoverGroup]="[5, 14]" [classOnHover]="'highlighted'">V</th>
                <th scope="col" [hoverGroup]="[6, 14]" [classOnHover]="'highlighted'">VI</th>
                <th scope="col" [hoverGroup]="[7, 14]" [classOnHover]="'highlighted'">VII</th>
                <th scope="col" [hoverGroup]="[8, 14]" [classOnHover]="'highlighted'">VIII</th>
                <th scope="col" [hoverGroup]="[9, 14]" [classOnHover]="'highlighted'">IX</th>
                <th scope="col" [hoverGroup]="[10, 14]" [classOnHover]="'highlighted'">X</th>
                <th scope="col" [hoverGroup]="[11, 14]" [classOnHover]="'highlighted'">XI</th>
                <th scope="col" [hoverGroup]="[12, 14]" [classOnHover]="'highlighted'">XII</th>
                <th scope="col" [hoverGroup]="[13, 14]" [classOnHover]="'highlighted'">Razem</th>
            </tr>
            <ng-container *ngFor="let p of statistics.positionStatistics">
                <tr>
                    <td [hoverGroup]="0" [classOnHover]="'highlighted'">{{ p.position.name }}</td>
                    <td [hoverGroup]="1" [classOnHover]="'highlighted'"><statistics-month-cell [monthStatistics]="p.months[0]"></statistics-month-cell></td>
                    <td [hoverGroup]="2" [classOnHover]="'highlighted'"><statistics-month-cell [monthStatistics]="p.months[1]"></statistics-month-cell></td>
                    <td [hoverGroup]="3" [classOnHover]="'highlighted'"><statistics-month-cell [monthStatistics]="p.months[2]"></statistics-month-cell></td>
                    <td [hoverGroup]="4" [classOnHover]="'highlighted'"><statistics-month-cell [monthStatistics]="p.months[3]"></statistics-month-cell></td>
                    <td [hoverGroup]="5" [classOnHover]="'highlighted'"><statistics-month-cell [monthStatistics]="p.months[4]"></statistics-month-cell></td>
                    <td [hoverGroup]="6" [classOnHover]="'highlighted'"><statistics-month-cell [monthStatistics]="p.months[5]"></statistics-month-cell></td>
                    <td [hoverGroup]="7" [classOnHover]="'highlighted'"><statistics-month-cell [monthStatistics]="p.months[6]"></statistics-month-cell></td>
                    <td [hoverGroup]="8" [classOnHover]="'highlighted'"><statistics-month-cell [monthStatistics]="p.months[7]"></statistics-month-cell></td>
                    <td [hoverGroup]="9" [classOnHover]="'highlighted'"><statistics-month-cell [monthStatistics]="p.months[8]"></statistics-month-cell></td>
                    <td [hoverGroup]="10" [classOnHover]="'highlighted'"><statistics-month-cell [monthStatistics]="p.months[9]"></statistics-month-cell></td>
                    <td [hoverGroup]="11" [classOnHover]="'highlighted'"><statistics-month-cell [monthStatistics]="p.months[10]"></statistics-month-cell></td>
                    <td [hoverGroup]="12" [classOnHover]="'highlighted'"><statistics-month-cell [monthStatistics]="p.months[11]"></statistics-month-cell></td>
                    <td [hoverGroup]="13" [classOnHover]="'highlighted'"><statistics-month-cell [monthStatistics]="p.total"></statistics-month-cell></td>
                </tr>
            </ng-container>
            <tr class="sticky">
                <th scope="col" [hoverGroup]="[0, 15]" [classOnHover]="'highlighted'">Pracownik</th>
                <th scope="col" [hoverGroup]="[1, 15]" [classOnHover]="'highlighted'">I</th>
                <th scope="col" [hoverGroup]="[2, 15]" [classOnHover]="'highlighted'">II</th>
                <th scope="col" [hoverGroup]="[3, 15]" [classOnHover]="'highlighted'">III</th>
                <th scope="col" [hoverGroup]="[4, 15]" [classOnHover]="'highlighted'">IV</th>
                <th scope="col" [hoverGroup]="[5, 15]" [classOnHover]="'highlighted'">V</th>
                <th scope="col" [hoverGroup]="[6, 15]" [classOnHover]="'highlighted'">VI</th>
                <th scope="col" [hoverGroup]="[7, 15]" [classOnHover]="'highlighted'">VII</th>
                <th scope="col" [hoverGroup]="[8, 15]" [classOnHover]="'highlighted'">VIII</th>
                <th scope="col" [hoverGroup]="[9, 15]" [classOnHover]="'highlighted'">IX</th>
                <th scope="col" [hoverGroup]="[10, 15]" [classOnHover]="'highlighted'">X</th>
                <th scope="col" [hoverGroup]="[11, 15]" [classOnHover]="'highlighted'">XI</th>
                <th scope="col" [hoverGroup]="[12, 15]" [classOnHover]="'highlighted'">XII</th>
                <th scope="col" [hoverGroup]="[13, 15]" [classOnHover]="'highlighted'">Razem</th>
            </tr>
            <ng-container *ngFor="let e of statistics.employeeStatistics">
                <tr>
                    <td [hoverGroup]="0" [classOnHover]="'highlighted'"><account-label [account]="e.employee.account"></account-label></td>
                    <td [hoverGroup]="1" [classOnHover]="'highlighted'"><statistics-month-cell [monthStatistics]="e.totalMonths[0]"></statistics-month-cell></td>
                    <td [hoverGroup]="2" [classOnHover]="'highlighted'"><statistics-month-cell [monthStatistics]="e.totalMonths[1]"></statistics-month-cell></td>
                    <td [hoverGroup]="3" [classOnHover]="'highlighted'"><statistics-month-cell [monthStatistics]="e.totalMonths[2]"></statistics-month-cell></td>
                    <td [hoverGroup]="4" [classOnHover]="'highlighted'"><statistics-month-cell [monthStatistics]="e.totalMonths[3]"></statistics-month-cell></td>
                    <td [hoverGroup]="5" [classOnHover]="'highlighted'"><statistics-month-cell [monthStatistics]="e.totalMonths[4]"></statistics-month-cell></td>
                    <td [hoverGroup]="6" [classOnHover]="'highlighted'"><statistics-month-cell [monthStatistics]="e.totalMonths[5]"></statistics-month-cell></td>
                    <td [hoverGroup]="7" [classOnHover]="'highlighted'"><statistics-month-cell [monthStatistics]="e.totalMonths[6]"></statistics-month-cell></td>
                    <td [hoverGroup]="8" [classOnHover]="'highlighted'"><statistics-month-cell [monthStatistics]="e.totalMonths[7]"></statistics-month-cell></td>
                    <td [hoverGroup]="9" [classOnHover]="'highlighted'"><statistics-month-cell [monthStatistics]="e.totalMonths[8]"></statistics-month-cell></td>
                    <td [hoverGroup]="10" [classOnHover]="'highlighted'"><statistics-month-cell [monthStatistics]="e.totalMonths[9]"></statistics-month-cell></td>
                    <td [hoverGroup]="11" [classOnHover]="'highlighted'"><statistics-month-cell [monthStatistics]="e.totalMonths[10]"></statistics-month-cell></td>
                    <td [hoverGroup]="12" [classOnHover]="'highlighted'"><statistics-month-cell [monthStatistics]="e.totalMonths[11]"></statistics-month-cell></td>
                    <td [hoverGroup]="13" [classOnHover]="'highlighted'"><statistics-month-cell [monthStatistics]="e.total"></statistics-month-cell></td>
                </tr>
            </ng-container>
        </table>
    </div>
</ng-template>