<div class="schedule">
    <div class="options">
        <button class="btn btn-success" (click)="onGenerateScheduleClicked()">Generuj grafik</button>
    </div>
</div>
<div class="week-picker">
    <week-date-picker [(date)]="firstDate"></week-date-picker>
</div>
<div class="schedule">
    <div *ngIf="!positionsLoaded; else schedules">
        <div class="spinner-border" style="width: 6rem; height: 6rem;" role="status">
        </div>
    </div>
    <ng-template #schedules>
        <ng-container *ngIf="positions.length > 0; else noPositions">
            <div class="position-schedules">
                <div *ngFor="let position of positions">
                    <schedule-position-week-edit [position]="position" [firstDay]="firstDate"></schedule-position-week-edit>
                </div>
            </div>
        </ng-container>
    </ng-template>
    <ng-template #noPositions>
        <h6>
            Brak stanowisk!
        </h6>
        <p>
            Dodaj stanowiska w sekcji <a routerLink="/employer/employees">Pracownicy</a> i przydziel do nich pracowników, aby rozpocząć tworzenie grafiku.
        </p>
    </ng-template>
</div>