<div #suggestions class="suggestions-container unselectable"
    [class.wider]="pickerType=='shiftFinish'"
    (mouseenter)="onMouseEnter()"
    (mouseleave)="onMouseLeave()"
>
    <div *ngFor="let hour of allHours; let i = index"
    (click)="selectHour(i)" 
    class="option" 
    [id]="hour.toHHMMString()" 
    [class.highlighted]="hour == highlightedHour"
    [class.no-requirements]="requiredEmployees[i] == 0"
    (mouseenter)="highlightedHour = hour">
        <span class="hour">
            {{hour.toDisplayHHMMString()}}
        </span>
        <span class="employees"
        [class.not-filled]="assignedEmployees[i] == 0 && requiredEmployees[i] > 0"
        [class.filled]="assignedEmployees[i] > 0 && assignedEmployees[i] < requiredEmployees[i]"
        [class.full]="assignedEmployees[i] > 0 && assignedEmployees[i] >= requiredEmployees[i]"
        >
               {{assignedEmployees[i]}}/{{requiredEmployees[i]}}
        </span>
        <span *ngIf="pickerType=='shiftFinish' && beginTime && beginTime.toSeconds() < hour.toSeconds()" class="duration">
            ({{{start: beginTime, finish: hour} | periodLength}})
        </span>
    </div>
</div>
