.suggestions-container {
    max-width: 20em;
    width: 20em;
    min-width: 5em;
    background-color: white;
    padding: 0;
    max-height: 220px;
    overflow: auto;
}

.option {
    padding-left: 10px;
}

.highlighted {
    background-color: #CCC;
}

.no-requirements {
    color: grey;
}

.not-filled {
    color: red;
}

.filled {
    color: orange;
}

.full {
    color: green;
}