.suggestions-container {
    max-width: 20em;
    width: max-content;
    min-width: 5em;
    background-color: white;
    padding: 0;
    max-height: 220px;
    overflow: auto;
}

.option {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
}

.highlighted {
    background-color: #CCC;
}

.no-requirements {
    color: grey;
}

.not-filled {
    color: red;
}

.filled {
    color: orange;
}

.full {
    color: green;
}

.hour {
    width: 3em;
    text-align: center;
}

.employees {
    width: 3em;
    text-align: center;
}

.duration {
    font-size: small;
}