<div *ngIf="!preferencesLoaded; else editor" class="spinner">
    <div class="spinner-border" style="width: 6rem; height: 6rem;" role="status">
    </div>
</div>
<ng-template #editor>
    <div class="editor">
        <div>
            <h4>Preferencje tygodniowe</h4>
        </div>
        <div class="editor-toolbar">
            <div>
                <button class="btn btn-success btn-md" (click)="onSaveClicked()">
                    Zapisz
                </button>
            </div>
            <div>
                <div>
                    Dokładność edytora:
                </div>
                <time-step-picker [(timeStep)]="timeStep"></time-step-picker>
            </div>
            <div>
                <div>
                    Dostępność:
                </div>
                <preference-type-picker [(preferenceType)]="selectedPreferenceType"></preference-type-picker>
            </div>
        </div>
        <div>
            <preferences-week-editor 
            [preferencesWeek]="preferencesWeek" 
            [timeStep]="timeStep" 
            [preferenceType]="selectedPreferenceType"
            (newPreferenceCreated)="handleNewPreferenceCreated($event)"></preferences-week-editor>
        </div>
        <div>
            <preferences-week-table [preferencesWeek]="preferencesWeek"></preferences-week-table>
        </div>
    </div>
</ng-template>