<div class="full-height login-box-container">
    <div class="login-box form-group" (keydown.enter)="onLoginClicked()">
        <div class="login-box_header unselectable">
            <h3>
                Logowanie
            </h3>
        </div>
        <div class="login-box_segment">
            <label for="usernameInput unselectable">Nazwa użytkownika / adres e-mail</label>
            <input class="form-control" type="text" placeholder="Nazwa użytkownika / adres e-mail" id="usernameInput" [(ngModel)]="loginInput">
        </div>
        <div class="login-box_segment">
            <label for="passwordInput unselectable">Hasło</label>
            <input class="form-control" type="password" placeholder="Hasło" id="passwordInput" [(ngModel)]="passwordInput">
        </div>
        <div *ngIf="errors" class="form-errors">
            Nieprawidłowa nazwa użytkownika lub hasło.
        </div>
        <div class="login-box_segment">
            <button class="btn btn-primary btn-block" type="submit" (click)="onLoginClicked()">
                Zaloguj
            </button>
        </div>
        <div class="login-box_segment">
            <button class="btn btn-secondary btn-block" type="button" (click)="onRegisterClicked()">
                Utwórz konto pracodawcy
            </button>
        </div>
    </div>
</div>
