<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Pracownik</th>
            <th scope="col" style="width: 20%;">Stanowiska</th>
            <th scope="col">Status</th>
            <th scope="col">Operacje</th>
        </tr>
    </thead>
    <tbody>
        <ng-container  *ngFor="let e of employees; let i = index">
            <tr (click)="onRowClicked(i)">
                <th scope="row">
                    {{i + 1}}
                </th>
                <td>
                    <account-label [account]="e.account"></account-label>
                </td>
                <td>
                    <ng-container *ngIf="e.positions.length > 0; else noPositions">
                        <div class="positions-container">
                            <span class="position-pill unselectable" *ngFor="let p of e.positions">{{p.name}} </span>
                        </div>
                    </ng-container>
                    <ng-template #noPositions>
                        <div class="no-positions unselectable">
                            brak stanowisk
                        </div>
                    </ng-template>
                </td>
                <td>
                    <div *ngIf="e.employeeStatus == 'HAS_ACCOUNT'">
                        Posiada konto
                    </div>
                    <div *ngIf="e.employeeStatus == 'INVITED'">
                        <div>
                            Bez konta
                        </div>
                        <div class="activation-link" (click)="onActivationLinkClicked(e)">
                            Link aktywacyjny
                        </div>
                    </div>
                </td>
                <td>
                    <div class="options">
                        <button class="btn btn-sm btn-primary" (click)="onEditPositionsClicked(e)">
                            Edytuj stanowiska
                        </button>
                        <button class="btn btn-sm btn-danger" (click)="onDeleteClicked(e)">
                            Usuń
                        </button>
                    </div>
                </td>
            </tr>
        </ng-container>
            
    </tbody>
</table>