<div class="logout unselectable">
    <div class="logout_user-info-container">
        <div class="logout_user-info">
            <div class="logout_logged-as">
                Zalogowano jako
            </div>
            <div>
                {{user?.firstName}} {{user?.lastName}}
            </div> 
        </div>
    </div>
    <div class="logout_options-container">
        <button class="btn btn-primary btn-sm btn-block" type="button" (click)="onLogoutClicked()">
            Wyloguj
        </button>
    </div>
</div>
