.schedule {
    margin: 10px 20px;
}

.spinner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.options {
    margin: 10px;
}

.options > button:not(:last-child) {
    margin-right: 16px;
}

.position-schedules > div:not(:last-child)::after {
    content: '';
    display: inline-block;
    position: relative;
    top: 100%;
    left: 0%;
    background-color: #AAA;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 6px;
    height: 2px;
}