<div class="top-options">
    <div>
        <button class="btn btn-success btn-lg" (click)="onSaveClicked()">Zapisz</button>
    </div>
    <div>
        <div>
            Szczegółowość edytora
        </div>
        <time-step-picker [(timeStep)]="timeStep" (timeStepChange)="timeStepChange.emit($event)"></time-step-picker>
    </div>
</div>

<div *ngIf="isLoading; else requirements">
    <div class="spinner-border" style="width: 6rem; height: 6rem;" role="status">
    </div>
</div>

<ng-template #requirements>  
    <div class="editors-container">
        <h5>Poniedziałek</h5>
        <staff-requirements-day [timeStep]="timeStep" [(timePeriods)]="staffRequirements.mondayStaff.timePeriods"></staff-requirements-day>
        <h5>Wtorek</h5>
        <staff-requirements-day [timeStep]="timeStep" [(timePeriods)]="staffRequirements.tuesdayStaff.timePeriods"></staff-requirements-day>
        <h5>Środa</h5>
        <staff-requirements-day [timeStep]="timeStep" [(timePeriods)]="staffRequirements.wednesdayStaff.timePeriods"></staff-requirements-day>
        <h5>Czwartek</h5>
        <staff-requirements-day [timeStep]="timeStep" [(timePeriods)]="staffRequirements.thursdayStaff.timePeriods"></staff-requirements-day>
        <h5>Piątek</h5>
        <staff-requirements-day [timeStep]="timeStep" [(timePeriods)]="staffRequirements.fridayStaff.timePeriods"></staff-requirements-day>
        <h5>Sobota</h5>
        <staff-requirements-day [timeStep]="timeStep" [(timePeriods)]="staffRequirements.saturdayStaff.timePeriods"></staff-requirements-day>
        <h5>Niedziela</h5>
        <staff-requirements-day [timeStep]="timeStep" [(timePeriods)]="staffRequirements.sundayStaff.timePeriods"></staff-requirements-day>
    </div>
</ng-template>
