<div class="requirements">  
    <div *ngIf="staffRequirements == null; else requirements" class="spinner">
        <div class="spinner-border" style="width: 6rem; height: 6rem;" role="status">
        </div>
    </div>
    
    <ng-template #requirements>  
        <div class="editors-container">
            <div>
                <h5>Poniedziałek</h5>
                <staff-requirements-day [timeStep]="timeStep" [(timePeriods)]="staffRequirements?.mondayStaff.timePeriods" 
                (timePeriodsChange)="emitRequirementsChange()"></staff-requirements-day>    
            </div>
            <div>
                <h5>Wtorek</h5>
                <staff-requirements-day [timeStep]="timeStep" [(timePeriods)]="staffRequirements?.tuesdayStaff.timePeriods" 
                (timePeriodsChange)="emitRequirementsChange()"></staff-requirements-day>
            </div>
            <div>
                <h5>Środa</h5>
                <staff-requirements-day [timeStep]="timeStep" [(timePeriods)]="staffRequirements?.wednesdayStaff.timePeriods" 
                (timePeriodsChange)="emitRequirementsChange()"></staff-requirements-day>
            </div>
            <div>
                <h5>Czwartek</h5>
                <staff-requirements-day [timeStep]="timeStep" [(timePeriods)]="staffRequirements?.thursdayStaff.timePeriods" 
                (timePeriodsChange)="emitRequirementsChange()"></staff-requirements-day>
            </div>
            <div>
                <h5>Piątek</h5>
                <staff-requirements-day [timeStep]="timeStep" [(timePeriods)]="staffRequirements?.fridayStaff.timePeriods" 
                (timePeriodsChange)="emitRequirementsChange()"></staff-requirements-day>
            </div>
            <div>            
                <h5>Sobota</h5>
                <staff-requirements-day [timeStep]="timeStep" [(timePeriods)]="staffRequirements?.saturdayStaff.timePeriods" 
                (timePeriodsChange)="emitRequirementsChange()"></staff-requirements-day>
            </div>
            <div>
                <h5>Niedziela</h5>
                <staff-requirements-day [timeStep]="timeStep" [(timePeriods)]="staffRequirements?.sundayStaff.timePeriods" 
                (timePeriodsChange)="emitRequirementsChange()"></staff-requirements-day>
            </div>
        </div>
    </ng-template>    
</div>

