.loading-modal {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.invitation-link-input {
    display: flex;
    justify-content: center;
}

.invitation-link-input input {
    width: 45em;
    text-align: center;
}